* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
body {
  background :  rgb(255, 255, 255);
  color: black;
  font-family: Verdana, sans-serif;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #008cff;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: rgb(209, 209, 209);
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgb(0, 0, 0);
  text-align: center;
}

.days {
  padding: 10px 0;
  background: rgb(236, 236, 236);
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: rgb(39, 39, 39);
}

.days li .active {
  padding: 5px;
  background: #008cff;
  color: white !important;
  border-radius: 100px;
}

.days li .holiday {
  padding: 5px;
  background: #ffbb00;
  color: black !important;
  border-radius: 10px;
}
